@import "../global/variables.css";
@import "../global/header.css";
.gradient-bg{
  background: linear-gradient(to top, var(--color-primary) 17%, var(--color-background) 76%);
}
.login-grid {
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100vh - var(--header-height));
  max-width: 327px;
  margin: auto;
}
.login-grid-title h2{
  font-size: 32px;
  color: var(--color-primary);
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .gradient-bg{
    background: linear-gradient(to right, var(--color-primary) 35%, var(--color-background) 77%);
  }
  .login-grid {
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    max-width: 100%;
  }
  .login-grid-title{
    display: flex;
  }
  .login-grid-title h2{
    font-size: 40px;
    color: #fff;
    margin-bottom: 15%;
  }
  .login-grid-description{
    color: #fff;
  }
  .login-grid-description .video{
    border-radius: 5px;
    overflow: hidden;
    height: 249px;
  }
  .login-grid-form{
    grid-column: 2;
    grid-row: span 2;
  }
}
