@import "../../shared/styles/variables.css";

.header {
  height: var(--header-height);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
}
.header .logo-header {
  height: 32px;
}

.header .logout {
  background-color: var(--color-white);
  width: auto;
  display: flex;
  align-items: center;
  padding: 0.5rem .8rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  gap: .5rem;
}

.header .logout .button-logout {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 0.9rem;
  gap: 1rem;
}

.header .logout .button-logout svg {
  flex-shrink: 0;
  margin-left: .5rem;
}

.header .logout .button-logout svg {
  flex-shrink: 0;
}


@media screen and (min-width: 768px) {
  .header .logo-header {
    height: 32px;
  }
}
@media screen and (min-width: 992px) {
  :root {
    --header-height: 60px;
  }
  .header .logo-header {
    height: 50px;
  }
}
