:root {
  --color-background: #F8F8F8;
  --color-primary: #0070BA;
  --color-text: #676767;
  --color-text-bold: #403C3C;
  --color-placeholder: #ADB5BD;
  --color-white: #fff;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --header-height: 50px;
}
