@import "../../shared/styles/globals.css";
@import "../../shared/styles/variables.css";
@import "../../shared/styles/header.css";

body {
  background-color: #fff;
  margin: 0;
}
.cursor-pointer {
  cursor: pointer;
}

.red-linear {
  content: "";
  width: 30px;
  height: 4.6px;
  background-color: #c41321;
  border-radius: 10px;
}

.header {
  background-color: var(--color-text-bold);
}
.header .container-fluid {
  min-height: var(--header-height);
}
.bg-primary {
  background-color: var(--color-primary) !important;
}

.header_btn {
  font-size: 12px;
}

.header_btn img {
  width: 19px;
  height: 19px;
}

.main_nav {
  position: sticky;
  top: var(--header-height);
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  z-index: 9;
  min-height: fit-content;
}

.main_nav li a {
  color: var(--color-text);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.hero {
  height: 236px;
  background: url("../../shared/assets/cursos/hero.png");
  background-size: cover;
  display: flex;
  align-items: center;
  color: var(--color-white);
}
.hero .title {
  font-size: 30px;
  font-weight: bold;
  position: relative;
}
.hero .title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  width: 30px;
  height: 4.6px;
  border-radius: 10px;
  background-color: var(--color-white);
  margin-bottom: 2rem;
}
.hero .description {
  margin-bottom: 2rem;
  font-size: 18px;
  max-width: 800px;
  font-weight: 200;
}
.hero_bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.hero .swiper {
  width: 100%;
  height: 100%;
}

.hero .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero .swiper-slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.28);
}

.hero .swiper-slide .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: start;
  padding: 2rem;
  padding-right: 10rem;
  font-size: 16px;
  font-weight: medium;
}

.hero .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  margin-top: 10px;
}

.hero
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #c41321;
  position: relative;
}

.hero
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  content: "";
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #c41321;
  border-radius: 50%;
}

/* === Contenedor Quick Data === */
.quick_data {
  width: fit-content;
  height: 56px;
  background: #c4122f;
  padding: 1rem 2rem;
  padding-left: 3rem;
  border-bottom-left-radius: 20px;
  max-width: 80%;
}

.item img {
  width: 30px;
  height: 30px;
}

.fs-10 {
  font-size: 10px;
}
.fs-8 {
  font-size: 8px;
  line-height: 10px;
  font-weight: 400;
}
.quick_data .description {
  min-width: 120px;
}

.texto-descriptivo-quick_data {
  overflow-wrap: break-word;
  overflow: hidden;
  margin-top: -6px;
}

.quick_data .container {
  width: 89.5%;
  height: 56px;
  background-color: var(--color-background-red);
  color: var(--color-white);
  margin-left: 15px;
  border-radius: 0 0 0 20px;
  white-space: normal;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: content-box;
  scrollbar-width: none; /* Oculta en Firefox */
  -ms-overflow-style: none; /* Oculta en IE y Edge */
}

.quick_data .container::-webkit-scrollbar {
  display: none; /* Oculta en Chrome, Safari y Edge */
}

.quick_data .container .item {
  width: 154px;
  margin-left: 5px;
  margin-right: 6px;
  gap: 10px;
}

.quick_data .container .item .description {
  width: 101px;
}

.description h3 {
  margin-top: 15px;
}
/* === Contenedor ¿Qué es? === */
.fs-12 {
  font-size: 12px;
}
.texto-que-es {
  font-family: var(--bs-body-font-family);
  font-weight: 500;
  line-height: 20px;
  padding-right: 21px;
  text-align: left;
  color: #676767;
}

/* === Nuestro requisitos === */
.icon-img {
  width: 40px;
  height: 40px;
}

.list-group-item {
  border: none;
  border-radius: 10px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  background: #fff;
}

.list-group-item:hover {
  background-color: #fff;
}

.bi-chevron-down {
  font-size: 20px;
  color: #6c757d;
}

.text-requisitos {
  font-weight: 300;
  font-size: 12px;
  line-height: 14.06px;
  color: var(--color-text);
  text-align: left;
}

.list-group {
  width: 85%;
}

.dropdown-menu {
  width: 100%;
  box-shadow: rgb(173, 173, 173) -1px 11px 20px 2px;
}

.dropdown-texto p {
  padding: 10px;
  text-align: justify;
}

.dropdown-menu {
  font-size: 12px;
  height: -webkit-fill-available;
}

/* === Etapas de inscripcion === */
.container-inscripcion {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.inscripción-title {
  font-size: 23px;
  font-weight: 550;
}

.container-import .p-principal {
  color: rgb(110, 110, 110);
  text-align: center;
  font-size: 11.5px;
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.5;
}

.step {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 15px;
  border-radius: 32px;
}

.right-align {
  margin-left: 2rem;
}

.left-align {
  margin-right: 2rem;
}

.step-content {
  flex: 1;
  text-align: left;
  width: 100%;
  border: 1px solid #e4e5d8;
  padding: 1rem;
  border-radius: 30px;
  position: relative;
}

.right-align::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -26px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-left: 1px solid #e4e5d8;
  border-bottom: 1px solid #e4e5d8;
  background: #fff;
  rotate: 45deg;
}
.left-align::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-right: 1px solid #e4e5d8;
  border-top: 1px solid #e4e5d8;
  background: #fff;
  rotate: 45deg;
}

.step-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.step-content p {
  font-size: 12px;
  color: #403c3d;
  margin: 0;
  font-weight: bold;
}

.step-title {
  font-size: 18px;
  color: var(--color-primary);
  font-weight: bold;
  margin-bottom: 2px;
  width: 100%;
}

.step-content strong {
  font-weight: bold;
  font-size: 16px;
}

.step .step-image {
  width: 80px;
  height: 80px;
  background-color: #f8f8f8;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.step .step-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  object-fit: contain;
  filter: brightness(0) saturate(100%) invert(21%) sepia(39%) saturate(5464%)
    hue-rotate(341deg) brightness(83%) contrast(108%);
}

.cursos h4 {
  font-size: 18px;
  font-weight: bold;
}
.cursos p {
  font-size: 10px;
}
.cursos svg {
  width: 14px;
  height: 14px;
}
.cursos .pagination svg {
  width: 20px;
  height: 20px;
}
.cursos .curso_description {
  color: #b2b2b2;
}
.cursos .button_brochure {
  border: 1px solid #0070ba;
  color: #0070ba;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

.cursos .button_brochure:hover {
  background-color: #0070ba;
  color: #fff;
}

.cursos .content {
  margin-top: -20px;
  background: #fff;
  border-top-right-radius: 20px;
}

.btn-test {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-test {
  padding: 12px 25px;
  background-color: var(--color-primary);
  margin-top: 40px;
  text-align: center;
  border-radius: 13px;
  cursor: pointer;
}

.button-test a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 17px;
}

.button-test img {
  width: 18px;
}

.beneficios {
  height: fit-content;
}
.beneficio_item {
  border-bottom: 1px solid #848484;
  margin-bottom: 1rem;
}
.beneficio_item h3 {
  font-weight: bold;
  font-size: 18px;
}
.beneficio_item p {
  font-size: 14px;
  color: #848484;
}
.testomnio_item {
  border-radius: 20px;
  padding: 1.5rem 1rem;
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.testomnio_item .quote {
  color: #c41321;
  margin: auto;
}
.testomnio_item .description {
  font-size: 12px;
  color: #676767;
  text-align: center;
}
.testomnio_item .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  background: #e1e8f8;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}
.testomnio_item .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 10px;
}
.graduated_companies {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 2rem 0;
}
.graduated_companies .graduated_companies_item {
  min-width: 200px;
}
.graduated_companies .graduated_companies_item img {
  max-height: 84px;
  object-fit: scale-down;
  width: 100%;
}

.graduated_companies .graduated_companies_item h4 {
  font-size: 14px;
  color: var(--color-primary);
  font-weight: bold;
  position: relative;
}

.graduated_companies .graduated_companies_item a {
  font-size: 12px;
  color: #403c3d;
  text-decoration: none;
  font-weight: bold;
}
.graduated_companies .graduated_companies_item span {
  font-size: 12px;
  color: #403c3d;
}

.contacto .description {
  color: #fff;
  background: var(--color-primary);
  padding: 3rem 2rem;
}
.contacto .description h3 {
  position: relative;
  margin-bottom: 2rem;
}
.contacto .description h3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2rem;
  width: 30px;
  height: 4.6px;
  border-radius: 10px;
  background-color: var(--color-white);
}
.contacto .data {
  padding: 3rem 2rem;
  background: #fff;
}
.contacto .data strong {
  color: var(--color-primary);
}
.contacto .data p {
  font-size: 12px;
}
.contacto .data p span {
  color: #403c3d;
}
footer {
  background: #494949;
}
.logo_footer {
  width: 100px;
  background: #494949;
  opacity: 0.5;
}
.logo_ministerio {
  width: 200px;
  margin: auto;
}

.cursos_grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.button-outline {
  border: 1px solid #0070ba;
  color: #0070ba;
  padding: 0.7rem 2rem;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}
.button-outline:hover {
  background-color: #0070ba;
  color: #fff;
}
.title_init {
  font-weight: bold;
}
.title_init strong {
  color: var(--color-primary);
}
.text-primary {
  color: #0070ba !important;
}
.btn-primary {
  background-color: #0070ba !important;
}
.link-underline-light {
  color: #0070ba !important;
}

.location-return {
  display: flex;
}
.image-home {
  width: 20px !important;
  height: 20px !important;
}
.location-return a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}
.view_switch {
  color: #676767;
  display: none;
}
.view_switch.active {
  color: var(--color-primary);
}
.calendar {
  width: 100%;
  text-align: center;
}
.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
  text-transform: capitalize;
}
.calendar-header button {
  background: transparent;
  border: none;
  color: var(--color-primary);
}
.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}
.day {
  padding: 10px;
  background: #fbfbfb;
  aspect-ratio: 16 / 13;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
}
.day .day_number {
  display: block;
  text-align: right;
  font-weight: bold;
  margin-bottom: auto;
}
.day.hasEvents {
  background: #c41222;
  color: #fff;
}
.day .event {
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px;
  background: #fff;
  color: #c41222;
  border-radius: 5px;
}
.empty {
  color: #ccc;
}
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  margin-bottom: 5px;
}
#grid-view {
  display: block;
}
#calendar-view {
  display: none;
}
.event_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
.event_item {
  background: #fbfbfb;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.event_item .day_tag {
  background: var(--color-primary);
  color: #fff;
  padding: 1rem;
  width: fit-content;
  margin-top: -1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-bottom-right-radius: 20px;
  margin-bottom: 4rem;
}
.event_item .day_tag .event_day_number {
  font-size: 1.5rem;
}
.event_item .line {
  height: 2px;
  width: 50px;
  background: var(--color-primary);
  display: block;
}
.event_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999999999;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.event_modal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.event_modal .modal_content {
  max-width: 600px;
  width: 400px;
  background: #fff;
  padding: 2rem 1rem;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .event_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .logo_ministerio {
    width: 200px;
    margin: 0;
    margin-left: auto;
  }
  .step {
    flex-direction: row;
    align-items: center;
  }

  .step-image img {
    width: 60%;
    height: 60%;
  }

  .step-title {
    font-size: 22px;
  }

  .p-p {
    font-size: 16px;
  }

  .Button-Test {
    font-size: 18px;
    padding: 8px 15px;
  }

  .Button-Test img {
    width: 15px;
    height: 15px;
  }

  .graduated_companies {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .graduated_companies .graduated_companies_item {
    min-width: 200px;
  }
  .graduated_companies .graduated_companies_item img {
    max-height: 84px;
    object-fit: scale-down;
    width: 100%;
  }

  .graduated_companies .graduated_companies_item h4 {
    font-size: 20px;
    color: var(--color-primary);
    font-weight: bold;
  }
  .graduated_companies .graduated_companies_item a {
    font-size: 14px;
    color: #403c3d;
    text-decoration: none;
  }
  .graduated_companies .graduated_companies_item span {
    font-size: 14px;
    color: #403c3d;
  }
  .contacto .description {
    color: #fff;
    background: var(--color-primary);
    padding: 4rem 3rem;
  }
  .contacto .data {
    padding: 4rem 3rem;
    background: #fff;
  }
  .contacto .data strong {
    color: var(--color-primary);
  }
  .contacto .data p {
    font-size: 14px;
  }
  .cursos_grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .event_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .main_nav {
    width: 80%;
    border-bottom-right-radius: 20px;
  }
  .main_nav li a {
    font-size: 16px;
  }
  .hero {
    margin-top: -41px;
    height: 380px;
  }
  .hero .content {
    max-width: 600px;
  }
  .hero .content p {
    font-size: 30px;
  }
  .nav-items {
    gap: 30px;
  }
  .quick_data {
    height: 120px;
    padding-left: 5rem;
  }
  .quick_data img {
    width: 70px;
    height: 70px;
  }
  .quick_data h3 {
    font-size: 14px;
  }
  .quick_data p {
    font-size: 12px;
  }
  .title-que-es {
    font-size: 40px;
  }
  .texto-que-es {
    font-size: 24px;
    line-height: 30px;
  }
  .video_about {
    height: 400px;
  }
  .text-requisitos {
    font-size: 20px;
    line-height: 30px;
  }
  .icon-img {
    width: 60px;
    height: 60px;
  }

  .container-import .p-principal {
    max-width: 900px;
    color: rgb(110, 110, 110);
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
  }

  .step {
    flex-direction: row;
    align-items: center;
  }

  .step-image {
    width: 140px;
    height: 140px;
    padding: 2rem;
  }

  .step-title {
    font-size: 30px;
  }

  .step-content p {
    font-size: 20px;
  }

  .Button-Test a {
    font-size: 20px;
    padding: 12px 22px;
  }

  .Button-Test img {
    width: 20px;
    height: 20px;
  }

  .cursos h4 {
    font-size: 20px;
    font-weight: bold;
  }
  .cursos p {
    font-size: 14px;
  }
  .cursos svg {
    width: 25px;
    height: 25px;
  }
  .cursos .pagination svg {
    width: 32px;
    height: 32px;
  }
  .cursos .curso_description {
    color: #b2b2b2;
  }
  .cursos .button_brochure {
    border: 1px solid #0070ba;
    color: #0070ba;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }

  .cursos .button_brochure:hover {
    background-color: #0070ba;
    color: #fff;
  }

  .cursos .content {
    margin-top: -20px;
    background: #fff;
    border-top-right-radius: 20px;
  }
  .exito_video {
    height: 380px;
    margin: auto;
  }
  .video_list {
    background: var(--color-primary);
    padding: 2rem 4rem;
    padding-left: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 24px;
  }
  .viedo_list h3 {
    color: var(--color-white);
  }
  .video_list .video_item {
    padding: 1rem;
    padding-left: 4rem;
    margin: 0;
  }
  .video_list .video_item h4 {
    color: var(--color-white);
    position: relative;
    margin-bottom: 2rem;
  }
  .video_list .video_item h4::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2rem;
    width: 30px;
    height: 4.6px;
    border-radius: 10px;
    background-color: var(--color-white);
  }
  .video_list .video_item p {
    color: var(--color-white);
  }
  .video_list .video_item.active {
    background: #e0e0e0;
  }
  .video_list .video_item.active h4 {
    color: var(--color-primary);
  }
  .video_list .video_item.active h4::before {
    background-color: var(--color-primary);
  }
  .video_list .video_item.active p {
    color: var(--color-primary);
  }
  .beneficios {
    height: 700px;
  }
  .beneficio_item {
    border-bottom: 1px solid #848484;
    margin-bottom: 1rem;
  }
  .beneficio_item h3 {
    font-weight: bold;
    font-size: 24px;
  }
  .beneficio_item p {
    font-size: 16px;
    color: #848484;
  }

  .hero .title {
    font-size: 40px;
    font-weight: bold;
    position: relative;
  }
  .hero .title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 55px;
    width: 30px;
    height: 4.6px;
    border-radius: 10px;
    background-color: var(--color-white);
    margin-bottom: 2rem;
  }
  .hero .description {
    margin-bottom: 2rem;
    font-size: 25px;
    max-width: 800px;
    font-weight: 200;
  }

  .cursos_grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  #grid-view {
    display: none;
  }
  #calendar-view {
    display: block;
  }
  .view_switch {
    display: block;
  }
}
